@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CoreSRT.Models.ViewModels

@model BillingItemViewModel


<tr>
    
        <td class="col-xs-2">
        @Html.DropDownListFor(m => m.BillingItemId, new SelectList(Model.Items,
                       "Id", "Description"), "Select Item", new {onchange = "ChangeItem(" + Model.Index + ")"})


            <input id="m.Index" hidden="hidden">
    </td>
        <td class="col-md-2">
            @Html.TextBoxFor(m => m.CGST, new { @readonly = "readonly", @style = "width:40px"  })

        </td>
        <td class="col-md-2" width="10ppx">
            @Html.TextBoxFor(m => m.SGST, new { @readonly = "readonly", @style = "width:40px" })

        </td>
        <td class="col-md-2">
            @Html.TextBoxFor(m => m.OriginalPrice, new { @readonly = "readonly", @style = "width:40px" })

        </td>
        <td>
            @Html.TextBoxFor(m => m.SellingPrice, new { @style = "width:80px", onchange = "ChangeTotalPrice(" + Model.Index + ")" })

        </td>
        <td>
            @Html.TextBoxFor(m => m.Quantity, new { @style = "width:40px", onchange = "ChangeTotalPrice(" + Model.Index + ")" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.TotalPrice, new { @readonly = "readonly", @style = "width:80px" })
        </td>
</tr>

<script type="text/javascript">
    function ChangeItem(index)
    {
       var items = @{@Html.Raw(Json.Serialize(Model.Items))};
       var e = $('[id*="BillingItemId"]').val();
       if(index >0)
       {
          var tempId= index+'__BillingItemId';
          e = $('[id*='+ tempId +']').val();
       }
       for(i=0; i<items.length; i++)
       {
          var cgstId = (index == 0) ?'CGST' : index+'__CGST';
          var sgstId = (index == 0) ?'SGST' : index+'__SGST';
          var ogPriceId = (index == 0) ?'OriginalPrice' : index+'__OriginalPrice';

          if(items[i].id == e)
          {
            $('[id*='+cgstId+']').first().val( items[i].cgst);
            $('[id*='+sgstId+']').first().val( items[i].sgst);
            $('[id*='+ogPriceId+']').first().val( items[i].rate);
            break;
          }
        }
    };

    function ChangeTotalPrice(index)
    {
        var tpPriceId = (index == 0) ?'TotalPrice' : index+'__TotalPrice';
        var selPriceId = (index == 0) ?'SellingPrice' : index+'__SellingPrice';
        var quanId = (index == 0) ?'Quantity' : index+'__Quantity';
        $('[id*='+tpPriceId+']').first().val($('[id*='+selPriceId+']').first().val()  * $('[id*='+quanId+']').first().val());
    }
</script>