@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CoreSRT.Models.ViewModels

@model List<CustomerViewModel>

<div>
    <p align ="center"> <span class="btn btn-lg">Customers</span> </p>
    </div>
<div>
    <button class="btn btn-default" onclick="window.location.href='@Url.Action("Create", "Customer")'"> Add New </button>
<table class="table table-hover">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>Address</td>
            <td>Contact Number</td>
            <td>EmailId</td>
            <td>GSTNo</td>
            <td>Type</td>
            <td></td>
        </tr>
        </thead>
    @foreach (var customer in Model)
    {
        //<div class ="row">
        <tr>
            <td>
                @customer.Name
            </td>
            <td>
                @customer.Address
            </td>
            <td>
                @customer.ContactNumber
            </td>
            <td>
                @customer.EmailId
            </td>
            <td>
                @customer.GSTNo
            </td>
            <td>
                @customer.Types.First(t=>t.TypeId == customer.TypeId).Type
            </td>
            <td>
                @Html.ActionLink("", "Edit", new { Id = customer.CustomerId }, new { @class = "glyphicon glyphicon-edit" }) |
                @Html.ActionLink("", "Delete", new { Id = @customer.CustomerId },
new { onclick = "return confirm('Do you really want to delete this Customer?')", @class = "glyphicon glyphicon-remove", @style = "color:red" })
            </td>
        </tr>
            //</div>
    }

</table>
 </div>
