@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CoreSRT.Models.ViewModels

@model ItemViewModel
<div>
    <script>
        function changeRate()
        {
            var gstAmt = $('#Rate').val() * ($('#hiCGST').val()/100);
            $('#cgstAmt').val( gstAmt );
            $('#sgstAmt').val( gstAmt);
            $('#totalAmt').val('0');
            if ($('#Rate').val() != '')
                $('#totalAmt').val( parseFloat($('#Rate').val()) + (gstAmt * 2));
        }
        function radioClick(val)
        {
            $('#CGST').val(val/2);
            $('#SGST').val(val/2);
            $('#hiCGST').val(val/2);
            $('#hiSGST').val(val/2);
            changeRate();
        }
    </script>
<p align="center"> <b>Create New Item</b> </p>
    </div>


<div>
    <p>
        @using (Html.BeginForm("Create", "Items", FormMethod.Post))
        {
            <table class="table">

                <tr>

                    <td>
                        <div class="table-cell">
                            @Html.Label("Description")
                        </div>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Description)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Rate")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Rate, new  { onChange = "changeRate()"})
                    </td>
                <tr>
                    <td>
                        <p>Choose GST Slab </p>

                        <input type="radio" name="radioGst" value="0" onclick="radioClick(0)" /> 0
                        <input type="radio" name="radioGst" value="5" onclick="radioClick(5)" />  5
                        <input type="radio" name="radioGst" value="10" onclick="radioClick(10)" />  10
                        <input type="radio" name="radioGst" value="12" onclick="radioClick(12)" />  12
                        <input type="radio" name="radioGst" value="18" onclick="radioClick(18)" />  18
                        <input type="radio" name="radioGst" value="28" onclick="radioClick(28)" />  28

                    </td>
                </tr>
            <tr>
                    <td>
                        @Html.Label("CGST") - 
                        <input asp-for="CGST" type="text" hidden="hidden" />
                        <input type="text" id="hiCGST" readonly="readonly" />
                    </td>
                    <td>
                        <input type="text" id="cgstAmt" readonly="readonly"/>
                    </td>
            </tr>
           <tr>
            <td>
                @Html.Label("SGCT") -
                <input asp-for="SGST" type="text" hidden="hidden" />
                <input type="text" id="hiSGST" readonly="readonly" />
            </td>
            <td>
                <input type="text" id="sgstAmt" readonly="readonly"/>
            </td>
        </tr>
           <tr>
               <td>
               @Html.Label("Total Amount")
                   </td>
               <td>
                   <input type="text" readonly="readonly" id="totalAmt">
                   </td>
           </tr>
        <tr></tr>
        </table>

        <input type="submit" value="Save" class="btn btn-default" />

    }
        <br>
        @Html.ActionLink("Back to List", "Index")
        </>
    </div>
